<launch>
	<!-- common nodes/params -->
		<node name="map_server_$(env HOST)" pkg="map_server" type="map_server" args="$(find hast)/maps/square300x300.yaml"/>

	<!-- ugv1 -->
	<arg name="ugv1_ns"	default="ugv1"/>
	<arg name="map_x"   default=""/> 
	<arg name="map_y"   default=""/> 
	<arg name="map_z"   default=""/> 
	<arg name="map_Y"   default=""/> 
	<include file="$(find robot_descriptions)/UGV_n/launch/spawn_ugv.launch">
		<arg name="ugv_ns" 							value="$(arg ugv1_ns)" />
		<arg name="move_base_ns" 				value="$(arg ugv1_ns)" />
		<arg name="raw_wheel_cmd_topic" value="$(arg ugv1_ns)/cmd_vel_raw" />
		
		<arg name="x"	value="-1.50"/>
		<arg name="y"	value="0.5"/>
		<arg name="z" value="0.0"/>
		<arg name="R" value="0"/>
		<arg name="P" value="0"/>
		<arg name="Y"	value="-0.25"/>
	</include>

	<!-- ugv2 -->
	<arg name="ugv2_ns"		default="ugv2"/>
	<include file="$(find robot_descriptions)/UGV_n/launch/spawn_ugv.launch">
		<arg name="ugv_ns" 							value="$(arg ugv2_ns)" />
		<arg name="move_base_ns" 				value="$(arg ugv2_ns)" />
		<arg name="raw_wheel_cmd_topic" value="$(arg ugv2_ns)/cmd_vel_raw" />

		<arg name="x"   default="-1.5"/> 
		<arg name="y"   default="-0.5"/> 
		<arg name="z"   default="0.0"/> 
		<arg name="R" 	value="0"/>
		<arg name="P" 	value="0"/>
		<arg name="Y"   default="0.25"/> 
	</include>

</launch>
